#include "emtop-imx8mp-baseboard-hdmi.dts"

&pinctrl_hog {
	fsl,pins = <
		MX8MP_IOMUXC_ECSPI2_SCLK__GPIO5_IO10		0x19
		MX8MP_IOMUXC_ECSPI2_MOSI__GPIO5_IO11		0x19
		MX8MP_IOMUXC_ECSPI2_MISO__GPIO5_IO12		0x19
		MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13		0x19
	>;
};

/ {
	model = "NXP i.MX8MPlus emtop-CM 2.0 IO board";
	compatible = "fsl,imx8mp-evk", "fsl,imx8mp";

	aliases {
		rtc0 = &snvs_rtc;
		rtc1 = &pcf85063;
	};

	gpio-leds {
		act_led: sys {
			label = "led0";
			linux,default-trigger = "mmc0";
			gpios = <&gpio3 16 GPIO_ACTIVE_HIGH>;
		};

                /* pwr_led pin (95) is "reserved" in Emtop SOM-IMX8 */

		sta_led: sta {
			label = "led1";
			linux,default-trigger = "gpio";
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		};

		ap_led: ap {
			label = "led2";
			linux,default-trigger = "gpio";
			gpios = <&gpio4 31 GPIO_ACTIVE_HIGH>;
		};
	};
};

&gpio1 { /* gpiochip0 */
	gpio-line-names =
		/* 0*/ "unnamed",
		/* 1*/ "unnamed",
		/* 2*/ "unnamed",
		/* 3*/ "unnamed",
		/* 4*/ "unnamed",
		/* 5*/ "unnamed",
		/* 6*/ "unnamed",
		/* 7*/ "mpcie3_gpio",
		/* 8*/ "unnamed",
		/* 9*/ "unnamed",
		/*10*/ "unnamed",
		/*11*/ "unnamed",
		/*12*/ "unnamed",
		/*13*/ "unnamed",
		/*14*/ "unnamed",
		/*15*/ "unnamed",
		/*16*/ "unnamed",
		/*17*/ "unnamed",
		/*18*/ "unnamed",
		/*19*/ "unnamed",
		/*20*/ "unnamed",
		/*21*/ "unnamed",
		/*22*/ "unnamed",
		/*23*/ "unnamed",
		/*24*/ "unnamed",
		/*25*/ "unnamed",
		/*26*/ "unnamed",
		/*27*/ "unnamed",
		/*28*/ "unnamed",
		/*29*/ "unnamed",
		/*30*/ "unnamed",
		/*31*/ "unnamed";
};

&gpio2 { /* gpiochip1 */
	gpio-line-names =
		/* 0*/ "unnamed",
		/* 1*/ "unnamed",
		/* 2*/ "unnamed",
		/* 3*/ "unnamed",
		/* 4*/ "unnamed",
		/* 5*/ "unnamed",
		/* 6*/ "unnamed",
		/* 7*/ "unnamed",
		/* 8*/ "unnamed",
		/* 9*/ "unnamed",
		/*10*/ "unnamed",
		/*11*/ "unnamed",
		/*12*/ "unnamed",
		/*13*/ "unnamed",
		/*14*/ "unnamed",
		/*15*/ "unnamed",
		/*16*/ "unnamed",
		/*17*/ "unnamed",
		/*18*/ "unnamed",
		/*19*/ "unnamed",
		/*20*/ "nrf52_coex2",
		/*21*/ "unnamed",
		/*22*/ "unnamed",
		/*23*/ "unnamed",
		/*24*/ "unnamed",
		/*25*/ "unnamed",
		/*26*/ "unnamed",
		/*27*/ "unnamed",
		/*28*/ "unnamed",
		/*29*/ "unnamed",
		/*30*/ "unnamed",
		/*31*/ "unnamed";
};

&gpio3 { /* gpiochip2 */
	gpio-line-names =
		/* 0*/ "unnamed",
		/* 1*/ "unnamed",
		/* 2*/ "unnamed",
		/* 3*/ "unnamed",
		/* 4*/ "unnamed",
		/* 5*/ "unnamed",
		/* 6*/ "unnamed",
		/* 7*/ "unnamed",
		/* 8*/ "unnamed",
		/* 9*/ "unnamed",
		/*10*/ "unnamed",
		/*11*/ "unnamed",
		/*12*/ "unnamed",
		/*13*/ "unnamed",
		/*14*/ "unnamed",
		/*15*/ "unnamed",
		/*16*/ "unnamed",
		/*17*/ "unnamed",
		/*18*/ "unnamed",
		/*19*/ "unnamed",
		/*20*/ "unnamed",
		/*21*/ "unnamed",
		/*22*/ "unnamed",
		/*23*/ "unnamed",
		/*24*/ "unnamed",
		/*25*/ "unnamed",
		/*26*/ "unnamed",
		/*27*/ "unnamed",
		/*28*/ "unnamed",
		/*29*/ "unnamed",
		/*30*/ "unnamed",
		/*31*/ "unnamed";
};

&gpio4 { /* gpiochip3 */
	gpio-line-names =
		/* 0*/ "unnamed",
		/* 1*/ "unnamed",
		/* 2*/ "unnamed",
		/* 3*/ "unnamed",
		/* 4*/ "unnamed",
		/* 5*/ "mpcie5_coex2",
		/* 6*/ "unnamed",
		/* 7*/ "unnamed",
		/* 8*/ "unnamed",
		/* 9*/ "unnamed",
		/*10*/ "unnamed",
		/*11*/ "unnamed",
		/*12*/ "unnamed",
		/*13*/ "unnamed",
		/*14*/ "unnamed",
		/*15*/ "unnamed",
		/*16*/ "unnamed",
		/*17*/ "unnamed",
		/*18*/ "unnamed",
		/*19*/ "unnamed",
		/*20*/ "unnamed",
		/*21*/ "unnamed",
		/*22*/ "mux_2",
		/*23*/ "unnamed",
		/*24*/ "unnamed",
		/*25*/ "unnamed",
		/*26*/ "unnamed",
		/*27*/ "mpcie3_coex1",
		/*28*/ "nrf52_coex1",
		/*29*/ "mux_3",
		/*30*/ "nrf53_coex1",
		/*31*/ "aux_ioexp_int";
};

&gpio5 { /* gpiochip4 */
	gpio-line-names =
		/* 0*/ "mpcie3_spi_rst",
		/* 1*/ "nrf53_coex2",
		/* 2*/ "mpcie5_coex1",
		/* 3*/ "unnamed",
		/* 4*/ "unnamed",
		/* 5*/ "unnamed",
		/* 6*/ "unnamed",
		/* 7*/ "unnamed",
		/* 8*/ "unnamed",
		/* 9*/ "unnamed",
		/*10*/ "unnamed",
		/*11*/ "unnamed",
		/*12*/ "unnamed",
		/*13*/ "unnamed",
		/*14*/ "unnamed",
		/*15*/ "unnamed",
		/*16*/ "aux_spi_gpio",
		/*17*/ "aux_spi_rst",
		/*18*/ "unnamed",
		/*19*/ "unnamed",
		/*20*/ "unnamed",
		/*21*/ "unnamed",
		/*22*/ "unnamed",
		/*23*/ "unnamed",
		/*24*/ "unnamed",
		/*25*/ "unnamed",
		/*26*/ "unnamed",
		/*27*/ "unnamed",
		/*28*/ "dcube_rpi_io1",
		/*29*/ "mux_1",
		/*30*/ "unnamed",
		/*31*/ "unnamed";
};

/* ### CM4IO Based Comms Devices ### */
&i2c5 {
	/* CM2.0 */
	expander_3: pcal6408@21 {
		compatible = "nxp,pcal6408";
		reg = <0x21>;
		gpio-controller;
		/* TODO interrupt-parent = <&gpio>; */
		/* TODO interrupts = <19 IRQ_TYPE_EDGE_FALLING>; */
		#gpio-cells = <2>;
		gpio-line-names = "aux_io_0_button",
				"aux_io_1_button",
				"aux_io_2_button",
				"aux_io_3",
				"aux_io_4",
				"aux_test_point",
				"eth_int",
				"rpi_pwr_rgb";
	};

	/* CM2.0 UI board */
	tmp100@49 {
		compatible = "ti,tmp100";
		reg = <0x49>;
	};

};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	pcf85063: pcf85063@51 {
		compatible = "nxp,pcf85063";
		reg = <0x51>;
	};

	fanctrl: emc2305@4d {
		compatible = "microchip,emc2305";
		reg = <0x4d>;

		#cooling-cells = <0x02>;

		fan@0 {
			min-rpm = /bits/ 16 <50>;
			max-rpm = /bits/ 16 <5500>;
		};
	};

	tmp100@49 {
		compatible = "ti,tmp100";
		reg = <0x49>;
	};

	/* ina231 is also used for ina209 */
	ina231@40 {
		compatible = "ti,ina231";
		reg = <0x40>;
		shunt-resistor = <33000>;
	};

	/* ina231 is also used for ina209 */
	ina231@45 {
		compatible = "ti,ina231";
		reg = <0x45>;
		shunt-resistor = <33000>;
	};

	/* CM2.0 */
	power_supply@41 {
		compatible = "ti,ina226";
		reg = <0x41>;
		shunt-resistor = <5000>;
	};

	nrf@44 {
		compatible = "ti,ina231";
		reg = <0x44>;
		shunt-resistor = <100000>;
	};

	mpcie3@46 {
		compatible = "ti,ina231";
		reg = <0x46>;
		shunt-resistor = <33000>;
	};

	expander_1: pcal6408@21 {
		compatible = "nxp,pcal6408";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "poweroff",
				"test_point",
				"nrf52_dfu_mode",
				"nrf53_dfu_mode",
				"usb3_pwr_en",
				"pcb_ver_1",
				"pcb_ver_2",
				"pcb_ver_3";
	};

	expander_2: pcal6408@20 {
		compatible = "nxp,pcal6408";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "nrf_usb_hub_reset",
				"nrf_uart_hub_reset",
				"nrf52_reset",
				"nrf52_en",
				"nrf53_reset",
				"nrf53_en",
				"eth_switch_reset",
				"aux_board_det";
		interrupt-controller; /* mark the node as interrupt-controller */
		#interrupt-cells = <2>; /* pin number and flags */
		interrupts = <19 IRQ_TYPE_EDGE_FALLING>;
	};

	switch: switch@5f {
		compatible = "microchip,ksz9477";
		reg = <0x5f>;
		status = "okay";
		/* interrupts-parent = <&expander_2>; todo
		interrupts = <6 IRQ_TYPE_EDGE_FALLING>; */
		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			lan3: port@0 {
				reg = <0>;
				label = "lan1";
				local-mac-address = [00 00 00 00 00 00];
			};

			lan2: port@1 {
				reg = <1>;
				label = "lan2";
				local-mac-address = [00 00 00 00 00 00];
			};

			lan1: port@2 {
				reg = <2>;
				label = "lan3";
				local-mac-address = [00 00 00 00 00 00];
			};

			port@3 {
				reg = <3>;
				label = "cpu";
				ethernet = <&eqos>;
				phy-mode = "rgmii-id"
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};

	bme280: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
		status = "okay";
	};

	usb2517i@2c {
		compatible = "microchip,usb2517i";
		reg = <0x2c>;
	};

	/* rx8025t has to be disabled here to override its definition in emtop-imx8mp-baseboard-hdmi.dts.
	   Otherwise probing lp5523 will fail, because they share same I2C slave address 0x32. */
	rx8025t: rtc@32 {
		status = "disabled";
	};

	lp5523: lp5523@32 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "ti,lp55231";
		label = "rgb_leds";
		reg = <0x32>;
		clock-mode = /bits/ 8 <0>; /* LP55XX_CLOCK_AUTO */

		multi-led@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0>;
			color = <9>; /* LED_COLOR_ID_RGB> */

			led@0 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x0>;
				color = <2>; /* LED_COLOR_ID_GREEN */
			};

			led@1 {
				max-cur = /bits/ 8 <15>;
				led-cur = /bits/ 8 <12>;
				reg = <0x1>;
				color = <3>; /* LED_COLOR_ID_BLUE */
			};

			led@6 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x6>;
				color = <1>; /* LED_COLOR_ID_RED */
			};
		};
		multi-led@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x1>;
			color = <9>; /* LED_COLOR_ID_RGB> */

			led@2 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x2>;
				color = <2>; /* LED_COLOR_ID_GREEN */
			};

			led@3 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x3>;
				color = <3>; /* LED_COLOR_ID_BLUE */
			};

			led@7 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x7>;
				color = <1>; /* LED_COLOR_ID_RED */
			};
		};
		multi-led@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x2>;
			color = <9>; /* LED_COLOR_ID_RGB> */

			led@4 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x4>;
				color = <2>; /* LED_COLOR_ID_GREEN */
			};

			led@5 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x5>;
				color = <3>; /* LED_COLOR_ID_BLUE */
			};

			led@8 {
				led-cur = /bits/ 8 <12>;
				max-cur = /bits/ 8 <15>;
				reg = <0x8>;
				color = <1>; /* LED_COLOR_ID_RED */
			};
		};
	};

};

/*
 * pins of spi2 test as gpio */
&ecspi2 {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&mipi_dsi {
	status = "disabled";
};

&panel_mipi_70t {
	status = "disabled";
};

&goodix {
	status = "disabled";
};
